
body 
    +reg
img
    max-width: 100% 
.container
    width: 1170px
    margin: auto
@media (max-width: 1200px)
    .container
        width: 760px
@media (max-width: 768px)
    .container
        max-width: 580px
        width: 95% 
@media (max-width: 567px)
    .container
        max-width: 550px                              
.button
    border-radius: 10px
    background-color: $main-color
    border: none
    padding: 19px 30px 17px 30px
    &:hover
        background-color: lighten($main-color, 10%)
        cursor: pointer
    &:focus
        outline: none
.section
    &-title
        font-size:  24px
        +bold
        text-align: center        
    &-subtitle
        font-size: 16px    
.input
    border: 1px solid $border-input
    padding: 22px
    font-size: 15px  
    border-radius: 10px 
    outline: none 

.scrollup
    position: fixed
    right: 30px
    bottom: 30px
    width: 40px
    height: 40px
    background: $main-color url(../img/arrow-up.svg) no-repeat center
    background-size: 30px
    border: none
    outline: none
    display: none
    &_active
        display: flex
        cursor: pointer
.arrows
    &__left, &__right
        &:hover
            cursor: pointer
             