.brif
    padding-top: 75px
    padding-bottom: 100px
    *
        box-sizing: border-box
    background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg') 
    background-position: left center, right center
    background-size: 50%, contain
    background-repeat: repeat-y, no-repeat   
    &-block
        display: flex
    &__interview
        flex-basis: 50%
    &__form
        flex-basis: 50%
        padding-left: 170px
        text-align: center
    &__input
        width: 100%
        max-width: 370px
        margin-bottom: 15px
    &__button
        margin-top: 15px
        height: 70px
        width: 100%
        max-width: 370px 
        margin-bottom: 30px       
.interview
    padding-right: 70px
    &__title
        margin-bottom: 30px
        font-size: 22px
        font-weight: 400
        line-height: 33px 
        min-width: 560px 
        +bold
    &__subtitle
        display: block
        font-size: 16px
        font-weight: 400
        line-height: 45px
        margin-bottom: 82px 
    &-list
        list-style: none
        padding: 0
        &__item
            display: flex
            align-items: center
            +bold
            margin-bottom: 25px
            &:last-child
                margin-top: 45px
        &__counter
            display: inline-block
            text-align: center
            line-height: 35px
            width: 35px
            height: 35px
            border: 2px solid #000000 
            border-radius: 50%  
            margin-right: 30px
            font-size: 14px
        &__text
            max-width: 400px
            font-size: 18px
            font-weight: 400 
.form
    &__title
        margin-bottom: 30px
        margin-top: 20px
        font-size: 22px
        font-weight: 400
        line-height: 33px
        +bold 
    &__subtitle
        display: block
        font-size: 16px
        font-weight: 400
        line-height: 45px
        margin-bottom: 40px 
@media (max-width: 1200px)
    .brif
        &__form
            padding-left: 30px
    .interview
        padding-right: 30px
        &__title
            min-width: 350px
            font-size: 20px
            margin-bottom: 15px
        &__subtitle
            margin-bottom: 30px
        &-list
            &__text
                font-size: 14px
                max-width: 300px
            &__counter
                margin-right: 20px 
@media (max-width: 768px) 
    .brif
        background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg') 
        background-position: top center, bottom center
        background-size: 100% 50%, cover
        background-repeat: repeat-x, no-repeat 
        &-block
            flex-direction: column       


