@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 550px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px 17px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.scrollup {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: #ffd200 url(../img/arrow-up.svg) no-repeat center;
  background-size: 30px;
  border: none;
  outline: none;
  display: none;
}

.scrollup_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/*  Импорт стилей шапки */
.navbar {
  padding: 8px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding-bottom: 3px;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  margin-bottom: 2px;
}

.navbar__button {
  margin-left: 30px;
  width: 170px;
  height: 49px;
  font-size: 13px;
  padding: 15px 30px 17px 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 3px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 567px) {
  .navbar {
    padding: 0;
  }
  .navbar-block {
    padding-bottom: 16px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    font-size: 10px;
    padding: 13px 28px 14px 26px;
    border-radius: 5px;
    margin-right: 22px;
    margin-top: 14px;
  }
  .navbar__logo {
    margin-left: 20px;
    margin-top: 17px;
    width: 91px;
  }
}

/*  Стили для главного экрана */
.hero {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  padding-right: 143px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 20px;
  line-height: 65px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 50px 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 237px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 10px;
  }
  .hero-text {
    padding-right: 0;
    margin-left: 20px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-list {
    margin-top: 30px;
  }
  .hero-list__text {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding-top: 22px;
    padding-bottom: 45px;
  }
  .hero-text {
    margin-left: 25px;
  }
  .hero-text__title {
    line-height: 1.3;
  }
  .hero-text__subtitle {
    display: block;
    width: 200px;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 2px;
  }
  .hero-list {
    margin-top: 26px;
    margin-bottom: 30px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.4;
  }
  .hero-list__image {
    margin-right: 14px;
  }
  .hero-image {
    margin: 0 20px 0 18px;
  }
}

/*  Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  padding: 52px 0 92px 0;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  width: 250px;
  display: block;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border-color: orange;
  outline: none;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer__info {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.offer__text {
  max-width: 230px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.offer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-right: 10px;
}

.offer__phone {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

.offer .success {
  font-size: 15px;
  text-align: center;
}

@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 520px) {
  .offer__title {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
  .offer {
    padding-top: 35px;
    padding-bottom: 50px;
    background: #fff;
    padding-left: 18px;
    padding-right: 23px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 17px;
    padding-left: 62px;
    padding-right: 64px;
  }
  .offer__title {
    font-size: 18px;
    font-weight: 400;
    max-width: 260px;
    line-height: 1.4;
    margin-bottom: 12px;
  }
  .offer__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 8px;
    margin-top: 20px;
  }
  .offer__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 7px;
  }
  .offer__phone {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}

/*  Стили для окна портфолио */
.portfolio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 790px;
  margin: auto;
  margin-bottom: 90px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
}

.slider {
  margin: 0 -15px;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5;
  }
  .portfolio__title {
    font-size: 24px;
  }
}

@media (max-width: 520px) {
  .portfolio__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }
}

@media (max-width: 400px) {
  .slider {
    width: 246px;
    height: 186px;
    margin: auto;
  }
  .portfolio {
    padding: 38px 0 58px;
  }
  .portfolio__title {
    width: 280px;
    margin-bottom: 38px;
  }
  .portfolio__arrows {
    margin-top: 45px;
  }
}

/*  Стили модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1070px;
  width: 100%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 291px;
  margin: auto;
}

.modal-dialog__subtitle {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 45px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.modal__input {
  margin-bottom: 15px;
  width: 325px;
}

.modal__button {
  margin-top: 15px;
  height: 70px;
  margin-bottom: 30px;
}

.tel {
  text-align: center;
}

.tel__text {
  display: block;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  max-width: 281px;
  text-align: center;
  margin-bottom: 10px;
}

.tel__tel {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.tel__tel a {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.column-1 {
  padding-right: 60px;
  padding-top: 33px;
  text-align: center;
}

.column-1-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

label {
  color: red;
}

/*  Стили блока price */
.price {
  padding: 98px 0 125px;
}

.price * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price__title {
  max-width: 515px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin: auto;
  margin-bottom: 38px;
}

.price__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 17px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__text {
  margin: 25px 0 42px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.card__img {
  display: block;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .price {
    padding-bottom: 10px;
  }
  .price__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .price__subtitle {
    font-size: 16px;
  }
  .price__card {
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .price {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .price__title {
    font-size: 18px;
    font-weight: 400;
    max-width: 242px;
    line-height: 1.4;
    margin-bottom: 2px;
  }
  .price__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
  }
  .price__card {
    width: 271px;
    margin-bottom: 30px;
  }
  .card__text {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .card__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .card__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}

/*  Стили блока step */
.steps {
  padding-bottom: 80px;
}

.steps * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  top: -10px;
  right: -15%;
  position: absolute;
  background: url("../img/step/arrow.png");
}

.step:last-child:after {
  display: none;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step__title {
  margin: auto;
  max-width: 670px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 40px;
}

.step__subtitle {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 55px;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 27px;
}

.step__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step__title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .step__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .step {
    margin-bottom: 18px;
  }
  .steps {
    padding-bottom: 43px;
  }
  .step__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 242px;
    margin-bottom: 3px;
  }
  .step__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 16px;
  }
  .step__image {
    margin-bottom: 25px;
  }
  .step__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

/*  Стили блока chip */
.chip {
  background-color: #ffd200;
  padding: 60px 0;
}

.chip__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}

@media (max-width: 768px) {
  .chip {
    padding: 30px;
  }
  .chip__title {
    font-size: 26px;
    line-height: 1.4;
  }
}

@media (max-width: 400px) {
  .chip {
    padding: 70px 0;
  }
  .chip__title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 270px;
    margin: auto;
    line-height: 1.3;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
  }
}

/*  Стили блока help */
.help {
  padding-top: 105px;
}

.help * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  width: 370px;
}

.help__card:last-child {
  margin-right: 0;
}

.help__text {
  text-align: left;
  max-width: 280px;
  margin-top: 8px;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .help-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help__card {
    margin: auto;
    margin-bottom: 30px;
  }
  .help__card:last-child {
    margin: auto;
  }
}

@media (max-width: 400px) {
  .help {
    padding-top: 60px;
  }
  .help__card {
    width: 275px;
    margin-bottom: 25px;
  }
  .help__text {
    margin-left: 17px;
    margin-top: 6px;
    max-width: 215px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 15px;
  }
}

/*  Стили блока contrakt */
.contrakts {
  padding-bottom: 228px;
}

.contrakts__title {
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
  margin-top: 127px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contrakts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contrakt__text {
  display: block;
  max-width: 290px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.contrakt__image {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contrakts {
    padding-bottom: 30px;
  }
  .contrakts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contrakt__text {
    margin: auto;
    margin-bottom: 30px;
  }
}

/*  Стили блока brif */
.brif {
  padding-top: 75px;
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 215px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  margin-top: 15px;
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 50px;
}

.interview__title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  max-width: 590px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 82px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__item:last-child {
  margin-top: 45px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
  font-weight: 400;
}

.form__title {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: left center, right center;
    background-size: 50%, cover;
    background-repeat: repeat-y, no-repeat;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .brif {
    padding-top: 30px;
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, bottom center;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interview {
    margin-bottom: 0px;
  }
  .form__title {
    margin-top: 190px;
  }
  .form__description {
    display: block;
  }
}

@media (max-width: 400px) {
  .brif {
    padding-top: 30px;
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, bottom center;
    background-size: 100% 47%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif__input {
    margin-bottom: 15px;
    width: 275px;
  }
  .brif__button {
    width: 275px;
  }
  .interview {
    margin-left: 21px;
  }
  .interview__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 230px;
    margin-top: 13px;
    margin-bottom: 6px;
  }
  .interview__subtitle {
    font-size: 14px;
    font-weight: 400;
    max-width: 190px;
    line-height: 1.4;
    margin-bottom: 35px;
  }
  .interview-list__text {
    max-width: 230px;
  }
  .interview-list__counter {
    margin-right: 10px;
  }
  .interview-list__item:last-child {
    margin-top: 20px;
  }
  .form {
    padding-left: 0;
  }
  .form__title {
    margin-top: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.35px;
    margin-bottom: 20px;
  }
  .form__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 26.88px;
    margin-bottom: 25px;
  }
  .form__description {
    max-width: 160px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: auto;
  }
}

/*  Стили блока footer */
.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */